* {
    Margin:0;
    padding:0;
 }

/*INDEX*/
/*MAIN*/
body{
    background-color: rgb(192, 145, 145);

}

.imgFondo{
    height: 100%;
    width: 100%;
}

.buttonTrap{
    display: block;
    font-size: 25px;
    height: 45px;
    width: 105px;
    border-radius: 20px;
    opacity: 0.8;
    font-family: 'Grape Nuts', cursiva;;
    font-weight: bold;
       
}

.buttonTech{
    font-size: 22px;
    height: 70px;
    width: 100px;
    border-radius: 20px;
    opacity: 0.8;
    font-family: 'Grape Nuts', cursiva;;
    font-weight: bold;
}

/*MAIN*/



/*TRAP*/

.volverIndex{
    display:flex;
    justify-content: flex-start;
    text-decoration: none;
    top: 23px;
    color: black;
    font-weight: bolder;
    position: relative;
}
.sectionPlataformas{
    display: flex;
    flex-direction: column;
    height: 80vh;
    
}


.textoMusica{
    position: relative;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(213, 78, 54, 0.644);
   
}

.logosTrap{
    display: flex;

}

.logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none; 
   
}

.logos__img__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-decoration: none;
    margin: 20px;
}
.logos__img{
    height: 50px;
    width: 50px;
}

.boton{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.425);
    padding: 0px 3px 0px 3px;
    border-radius: 20px;
    border: solid rgb(106, 100, 100) 1px;
}



.ultimoLanzamiento{
    background-color: rgb(43, 39, 39);
    height: 70vh;
}


.textoUltLanz{
    text-align: center;
    color: beige;
    position: relative;
}

.textUltLanz{
    display: flex;
    text-align: center;
    margin: auto;
}

.ultLanzamiento{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
 
.UltLanzPadre{
    padding: 0%;
}

.fakeVaper{
    height: 180px;
    width: 270px;
    margin: 5px;
    border-radius: 15px;
    
}

.fakeVaperVideo{
    height: 180px;
    width: 270px;
    border-radius: 15px;
}
/*FOOTER */
/*FOOTER*/

footer{
    background-color: rgba(4, 4, 4, 0.966);
    
}
.footerContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.textFooter{
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    color: beige;
    top: 15px;
}

.correoFooter{
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    color: beige;
}

.logosContacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 0;
    
}

.logos__footer{
    height: 40px;
    width: 40px;
}

#logos__Contacto{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/*TECH*/
.mainTech{
    display: block;
    text-decoration: none;
    color: black;
}

.mainTech{
    height: 360px;
}

.imgFondoTech{
    height: 100%;
    width: 100%;
}
.logosTechPadre{
    display: block;
    justify-content: center;
    margin: auto;
    bottom: 350px;
    position: relative;
    padding: 0%;
}
.logosTech{
    display: flex;
    position: relative;

}

.textFooterTech{
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    position: relative;
    top: 20px;
    color: beige;
}